
Lib
Scripts
pyvenv.cfg
.idea
media/
**/__pycache__/
django.log*
temp/
.vscode
celerybeat*
rtbid/
build/
dist/
.env*
.venv*
*.spec
playwright-browsers

playwright-bot-data/*
playwright-mng-data/*
*.exe
